body, html {
    margin: 0;
    font-family: Arial, sans-serif;
}
#title {
    color: white;
    text-align: center;
    margin-top: 20vh;
}
#H1, #H3, #generate {
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
    font-family: Helvetica, Arial, sans-serif;
}
#H3 {
    font-size: 1em;
}

#generate {
    display: flexbox;
    align-items: center;

}

#intro {
    background-image: url('https://images.unsplash.com/photo-1684503830679-302965124d97?q=80&w=1901&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

#copyAlert {
    display: none;
}

#out {
    width: 250px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    color: #ccc;
    border: 1.5px solid #ccc;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    outline: none;
    background-color: transparent;
}

#out:focus {
    border-color: #4CAF50;
}

.slide-down-alert {
    position: fixed;
    top: -380px; 
    left: 50%;
    transform: translateX(-50%);
    width: 20%; 
    z-index: 9999;
    transition: top 0.5s ease-in-out;
}


#btn {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    height: 40px; 
    background-color: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

#btn:hover {
    background-color: #2563eb; 
}